.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-description {
    height: 4.5rem;
    overflow: hidden;
    display: -webkit-box;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
}